@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.navbar {
  width: 100vw;
  display: flex;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 4px -14px 20px 3px #595959;
}

.logo {
  margin-right: auto;
}

.nav-link {
  padding: 20px;
  height: 67px;
  margin-top: auto;
  margin-bottom: auto;
}
