<app-navbar></app-navbar>
<img style="position: fixed;top: -3vh;right: -76px; z-index: -2;" src="assets\images\Icon material-cloud-circle.svg" alt="cloud icon">
<img style="position: fixed;top: 33vh;left: -76px; z-index: -2;" src="assets\images\Path 705.svg" alt="cloud icon">

<div class="container">
<section class="section" style="margin-top: -100px; display: flex; flex-direction: row-reverse; margin-bottom: 98px;
">
  <!-- <svg class="line1" xmlns="http://www.w3.org/2000/svg" width="1919.231" height="170.535" viewBox="0 0 1919.231 170.535"><path d="M952,25.26h320.038L1346.6,99.819h334.418L1816.977-36.144h164.756L2117.695,99.819h234.522L2517.752-65.716h154.187l62.149,62.149h137.143" transform="translate(-952 68.216)" fill="none" stroke="rgba(60,168,180,0.35)" stroke-width="5"/></svg>
  <svg class="line2" xmlns="http://www.w3.org/2000/svg" width="1921.65" height="758.279" viewBox="0 0 1921.65 758.279"><path d="M952,856l193.589-193.589h300.65l139.1-139.1h298.9l129.729-129.729h289.766l173.569-173.569h143.775l118.02-118.02h132.78" transform="translate(-950.232 -99.489)" fill="none" stroke="rgba(28,127,195,0.28)" stroke-linejoin="round" stroke-width="5"/></svg> -->
  <div style="display: flex;width: 50vw;margin-top: 44vh;">
    <img class="img1" src="\assets\images\Group 4.svg" alt="" srcset="">
    <img class="img2" src="\assets\images\Group 5.svg" alt="" srcset="">
  </div>
  <h2 class="title1">Especialistas en Movilidad e  <strong>integraciones
    en la Nube.</strong>
  <hr style="margin: 10px;">
    En DOMApps nos encargamos de darle agilidad,
    seguridad e innovación a nuestros desarrollos
    de <strong>aplicaciones Web y Móvil.</strong>
  </h2>
</section>
<section class="section" style="margin-bottom: 0px; display: flex">
  <!-- <svg class="line3" xmlns="http://www.w3.org/2000/svg" width="1866.208" height="390.881" viewBox="0 0 1866.208 390.881"><path d="M950,918l186.764,186.764h255.322l199.848,199.848h364.573l185.548-185.548h469.551L2812.672,918" transform="translate(-948.232 -916.232)" fill="none" stroke="rgba(60,168,180,0.33)" stroke-width="5"/></svg>
  <svg class="line4" xmlns="http://www.w3.org/2000/svg" width="1913.812" height="382.627" viewBox="0 0 1913.812 382.627"><path d="M950,1998l378.359-378.359h389.426L1871.7,1773.56h406.8l149.724,149.724H2785.56L2860.276,1998" transform="translate(-948.232 -1617.141)" fill="none" stroke="rgba(28,127,195,0.24)" stroke-width="5"/></svg> -->
  <div style="display: flex; width: 50vw;">
    <img class="img4" src="\assets\images\Group 22.svg" alt="" srcset="">
    <img class="img5" src="\assets\images\Group 23.svg" alt="" srcset="">
  </div>

  <h2 class="title2">
  Creamos  <strong>soluciones e integraciones de plataforma </strong>
  <hr>
  que le darán nueva vida a la manera que
  <hr>
  manejas tu compañía.
  </h2>
</section>
<section class="section">
  <!-- <svg class="line5" xmlns="http://www.w3.org/2000/svg" width="358.724" height="1080.791" viewBox="0 0 358.724 1080.791"><path d="M1303.189,3133l-72.734-72.734V2665.342l-186.948-186.948V2151.252L948,2055.745" transform="translate(-946.232 -2053.977)" fill="none" stroke="rgba(28,127,195,0.3)" stroke-linejoin="round" stroke-width="5"/></svg>
  <svg class="line6" xmlns="http://www.w3.org/2000/svg" width="358.724" height="1080.791" viewBox="0 0 358.724 1080.791"><path d="M948,3133l72.734-72.734V2665.342l186.948-186.948V2151.252l95.507-95.507" transform="translate(-946.232 -2053.977)" fill="none" stroke="rgba(60,168,180,0.3)" stroke-linejoin="round" stroke-width="5"/></svg> -->
  <h2 class="title3">
     <strong>Más información, más beneficios.</strong>
     <hr>
    Descubre cómo DOMApps puede ayudarte a solucionar problemas
    <hr>
    para mejorar la movilidad, solidez y beneficios de tu negocio.
  </h2>
  <div style="display: flex; margin: auto; width: fit-content;margin-top: 22vh;">
    <img class="img6" src="\assets\images\Group 24.svg" alt="" srcset="">
    <img class="img7" src="\assets\images\Group 30.svg" alt="" srcset="">
  </div>

</section>
<section class="section">
  <h2 class="title4">
    <strong>Si estás interesado en realizar un proyecto con nosotros,
      <hr>
      no dudes en contactarnos!</strong>
 </h2>
  <!-- <svg class="line7" xmlns="http://www.w3.org/2000/svg" width="358.724" height="1080.791" viewBox="0 0 358.724 1080.791"><path d="M1303.189,2055.745l-72.734,72.734V2523.4l-186.948,186.948v327.142L948,3133" transform="translate(-946.232 -2053.977)" fill="none" stroke="rgba(28,127,195,0.3)" stroke-linejoin="round" stroke-width="5"/></svg>
  <svg class="line8" xmlns="http://www.w3.org/2000/svg" width="358.724" height="1080.791" viewBox="0 0 358.724 1080.791"><path d="M948,2055.745l72.734,72.734V2523.4l186.948,186.948v327.142L1303.189,3133" transform="translate(-946.232 -2053.977)" fill="none" stroke="rgba(60,168,180,0.3)" stroke-linejoin="round" stroke-width="5"/></svg> -->
  <img class="img8" src="\assets\images\Group 32.svg" alt="" srcset="">
</section>
</div>


